* {
    animation-duration: 0s !important;
    animation: none !important;
  }
  
  ._31b3B0v2LmupQHAGYhNosF,
  ._2tD_QSR2Tqe3JXUEyCCrOJ,
  ._33S1Js7uFoTH2x93VplvHU,
  .tag-manager-publicidade-container,
  .FDlWItNjz4p1VI9CAImti,
  .FDlWItNjz4p1VI9CAImti,
  .footer,
  #glb-topo,
  .header-navegacao,
  ._3HY6tUrdeykwokPXP7PdwT:nth-of-type(1),
  ._3HY6tUrdeykwokPXP7PdwT:nth-of-type(2),
  .show-direcionamento-pos-votacao {
    display:none !important;
  }
  